.subscribe {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-color);

    margin-bottom: 20px;
}

.subscribe-form {
    display: flex;
    justify-content: center;
}

.mail-form {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    margin-right: 12px;


    background: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    outline: none;

    color: var(--white-color);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
    }
}

.footer-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--white-color);
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    & svg {
        margin-left: 10px;
    }
}