.social_list {
    display: flex;
    justify-content: center;
}

.social_network:not(:last-child) {
    margin-right: 10px;

}

.team-icon {
    fill: var(--social-icon);
    display: flex;

    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: fill var(--animation),
    background-color var(--animation);

    &:focus,
    &:hover {
        fill: var(--white-color);
        background-color: var(--accent-color);
    }
}